# Port where the REST API will be running on.
PORT=8787
# URL where the frontend runs. this is used for the CORS configuration.
FRONTEND_ORIGIN=http://localhost:5173
# Log level
LOG_LEVEL=info

#This endpoint is triggered whenever a new flight is added, to identify matching deal alert subscriptions and send users notifications about better flight deals.
AGENT_DEAL_ALERT_WEBHOOK_URL=http://localhost:8790/deal-alerts

# Optional: enable JWT validation for protected endpoints.
# When enabled, the API endpoints validate the incoming requests using the Asgardeo access tokens attached in the "Authorization" header.
API_REQUIRE_AUTH=false

# Asgardeo configuration details required for access token validation.
# Required only when API_REQUIRE_AUTH=true.
ASGARDEO_BASE_URL=https://api.asgardeo.io/t/your-organization-name
ASGARDEO_AUDIENCE=

# Required for CDS profile create/get/update API proxy endpoints.
CDS_ASGARDEO_CLIENT_ID=your-cds-m2m-client-id
CDS_ASGARDEO_CLIENT_SECRET=your-cds-m2m-client-secret
CC_SCOPES=internal_cds_profile_create internal_cds_profile_update internal_cds_profile_view internal_cds_profile_schema_view
