# Client ID of the registered single page application in Asgardeo.
VITE_ASGARDEO_CLIENT_ID=your-asgardeo-application-client-id
# Name of your Asgardeo organization. This is used is used to build the sign-up URL. If omitted, the app derives it from `VITE_ASGARDEO_BASE_URL`.
VITE_ASGARDEO_ORG_NAME=your-organization-name
# Base URL of your Asgardeo organization
VITE_ASGARDEO_BASE_URL=https://api.asgardeo.io/t/<your-organization-name>
# Local URL of the backend REST API running from `/api` folder
VITE_API_BASE_URL=http://localhost:8787
# Verifiable Credential Offer Template used for integrating membership profile with wallet
VITE_WALLET_CREDENTIAL_OFFER=<verifiable-credential-offer-copied-from-asgardeo>
